.box{
    text-align: left;
    margin-bottom: 5px;
    /* line-height: 1.3;
    letter-spacing: 0.3px; */
    padding:10px;
}
.title{
    /* font-weight:bold; */
    /* display: inline; */
    /* color:#ff0076; */
    font-weight: 500;
    /* font-weight: bold; */
    font-size: 18px;
}
.companyCollege{
    /* font-weight: 500; */
    /* font-weight: lighter; */
    /* margin-left: 20px; */
    color: gray;
    /* display: inline; */
    font-size: 16px;
    font-weight:500;
}
.date{
    /* font-weight: 500; */
    font-size: 16px;
}
.infoPoints{
    margin-left: 20px;
}
.box:hover{
    scale: 1.01;
    /* background-color: #e7473cdb; */
    /* background-color: #5cd1b6; */
    /* background-image: linear-gradient(#1d76e2,#5cd1b6); */
    background-color: #1d76e2;
    border-radius: 5px;
    color: white;
}
.box:hover div{
    /* scale: 1.01;
    background-color: #e7473cdb;
    border-radius: 5px; */
    color: white;
}
/* .box:hover .title{
    color:#d72631;
} */